    <div class="flexbox">
        <table>
            <tr>
                <td>Computer_ID</td>
                <td>Permissions</td>
            </tr>
            <tr></tr>
                <td>1234</td>
                <td>view info</td>
                <td class="download">Change Permissions</td>
            </tr>
            <tr>
                <td>5678</td>
                <td>view info, download files</td>
                <td class="download">Change Permissions</td>
            </tr>
            <tr></tr>
                <td>9101</td>
                <td>download files, send files</td>
                <td class="download">Change Permissions</td>
            </tr>
    </div>


</body>
</html>