<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/style/class.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    </head>
        <body>
            <header>
                <nav class="header">
                    <a href="/pending">Pending clients</a> |
                    <a href="/log">Check Log</a> |
                    <a href="/clients">Client List</a> |
                </nav>
                <h1>C2 Server GUI</h1>
            </header>